*{ 
   margin : 5px;
 }

h1{
   color : #40826D ;

.img {
   width : 20px;
   height: 20px;
  }
  
/*===== HOME =====*/
.home{
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}
.home__data{
  align-self: center;
}
.home__title{
  font-size: ;
  margin-bottom: ;
}
.home__title-color{
  color: #40826D ;
}
.home__social{
  display: flex;
  flex-direction: row;
}
.home__social-icon{
  width: max-content;
  margin-bottom: ;
  font-size: 1.5rem;
  color: #40826D;
}
.home__social-icon:hover{
  color: #40826D;
}
.home__img{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 295px;
}
