
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{ 
   padding : 0;
   margin : 0;
   font-family: 'Lato', sans-serif;
   border-sizing : border-box;
   background-size : cover;
   background-position: center;
 }

.hero{
   height : 100vh;
   width : 100%; 
   background-image : url(pemudatersesat.png);
 }

.nav{
   display: flex;
   align-item: center;
   justify-content: space-between;
   padding-top: 45px;
   padding-left :8%;
   padding-right: 8%;
 }

.logo{ 
   color : white ;
   font-size : 35px;
   letter-spacing : 1px;
   cursor : pointer;
 }

span{
   color : #008080;
   }
   


   





